
.contact .flyer-section {
    width: 100%;
    min-height: 400px;
    background: url('http://www.edb.com.pk/banner/Engineering%20Design%20Bureau%20EDB%20Contact%20Us.jpg') no-repeat;
    background-size: cover;
  }
