.ceo-page .flyer-section {
    width: 100%;
    min-height: 400px;
    background: url('http://www.edb.com.pk/banner/Engineering%20Design%20EDB%20CEO%20Massage.jpg') no-repeat;
    background-size: cover;
  }

  .mission-statement .flyer-section {
    width: 100%;
    min-height: 400px;
    background: url('http://www.edb.com.pk/banner/EDB%20Mission%20Statement.jpg') no-repeat;
    background-size: cover;
  }

  .exec-summary .flyer-section {
    width: 100%;
    min-height: 400px;
    background: url('http://www.edb.com.pk/banner/Engineering%20Design%20Bureau%20EDB%20Consulting%20Engineers%20Planners.jpg') no-repeat;
    background-size: cover;
  }

  .clients-business .flyer-section {
    width: 100%;
    min-height: 400px;
    background: url('http://www.edb.com.pk/banner/EDB%20Client%20Banner%20Engineering%20Designs.jpg') no-repeat;
    background-size: cover;
  }

  .accreditation .flyer-section {
    width: 100%;
    min-height: 400px;
    background: url('http://www.edb.com.pk/banner/Accreciation.jpg') no-repeat;
    background-size: cover;
  }